body{
    background-color: #eab9f3;
    margin: 40px;
    font-family: Arial;
}

.container {
    background-color: rgb(240, 211, 243);
    padding: 20px;
    border-radius: 10px;
}

.titulo {
    color: #54085e;
    text-align: center;
}

.foto {
    width: 200px;
    border-radius: 50%;
    border: 3px solid #54085e;
    padding: 5px;
    display: block;
    margin: auto;
}

.nome {
    text-align: center;
    font-weight: bold;
}

.subtitulo {
    color: #54085e;
}

.lista {
    background-color: rgb(242, 229, 243);
    padding: 20px;
    border-radius: 8px;
}

.lista li {
    margin-bottom: 10px;
}

.lista li:hover {
    color: #54085e;
}